# Published paper 
SHORT_TITLE=Quarto Tech Paper Example
GOOGLE_FID=1234567890ABCD # parent
    
# Example: ESP32-S3 USB Serial Device Configuration
ESP32S3_USB_VID=0x303A
ESP32S3_USB_PID=0x1001
BAUD_RATE=115200

# Secret
RCLONE_DRIVE_TOKEN=<placeholder>